AquaticPrime Developer.app
.DS_Store
.idea
*.xcuserstate
node_modules
Source/NodeJS/dist
License Utility/AquaticPrime Developer.xcodeproj/xcuserdata/lucvandal.xcuserdatad/xcschemes/AquaticPrimeDeveloper.xcscheme
License Utility/AquaticPrime Developer.xcodeproj/xcuserdata/lucvandal.xcuserdatad/xcschemes/xcschememanagement.plist
