AquaticPrime Developer.app
.DS_Store
.idea
*.xcuserstate
node_modules
Source/NodeJS/dist
License Utility/AquaticPrime Developer.xcodeproj/xcuserdata/lucvandal.xcuserdatad/xcschemes/AquaticPrimeDeveloper.xcscheme
License Utility/AquaticPrime Developer.xcodeproj/xcuserdata/lucvandal.xcuserdatad/xcschemes/xcschememanagement.plist
Source/Cocoa/AquaticPrime.xcodeproj/project.xcworkspace/xcuserdata/lucvandal.xcuserdatad/WorkspaceSettings.xcsettings
Source/Cocoa/AquaticPrime.xcodeproj/xcuserdata/lucvandal.xcuserdatad/xcschemes/AquaticPrime.xcscheme
Source/Cocoa/AquaticPrime.xcodeproj/xcuserdata/lucvandal.xcuserdatad/xcschemes/libAquaticPrime.xcscheme
Source/Cocoa/AquaticPrime.xcodeproj/xcuserdata/lucvandal.xcuserdatad/xcschemes/xcschememanagement.plist
